Proyecto-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1038921048,
          "mode": "list",
          "cachedResultName": "Datos_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI/edit#gid=1038921048"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Documento": "={{$json.body.documento}}",
            "Descripción": "={{$json.body.descripcion}}",
            "Teléfono": "={{$json.body.telefono}}",
            "Latitud": "={{$json.body.latitud}}",
            "Longitud": "={{$json.body.longitud}}",
            "Nombre": "={{$json.body.nombre}}",
            "Foto URL": "={{$json.body.correo}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Foto URL",
              "displayName": "Foto URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        192
      ],
      "id": "c163c9c8-3c80-4217-8f58-7fe49be7d155",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENNGYO4nFbeWQ9wU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartcity-report",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        320
      ],
      "id": "3b61b09d-509c-407f-9028-6062b5aa484f",
      "name": "Webhook",
      "webhookId": "eb7e2dd6-1baa-4acc-839d-c99a8f406a31"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84f9e5f6-d205-450e-97f5-e3fbfd3d1d8b",
              "name": "ticketId",
              "value": "=SCF-{{$now.toFormat('yyyyMMddHHmmss')}}",
              "type": "string"
            },
            {
              "id": "8d4ca170-d996-4573-8eac-cc7d1243f75c",
              "name": "categoria",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).categoria }}",
              "type": "string"
            },
            {
              "id": "ca61c53e-6bc3-48f1-964e-e71448a97c1e",
              "name": "prioridad",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).prioridad }}",
              "type": "string"
            },
            {
              "id": "e75d0a51-a6e4-4335-af1b-6584a7023396",
              "name": "confianza",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).confianza }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        304
      ],
      "id": "b1cb03ed-f0f8-45f6-bca9-b9c936c841e7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analiza la imagen de infraestructura urbana.\n\nClasifica el incidente como:\n\n* Bache\n* Fuga de agua\n* Semáforo averiado\n* Luminaria dañada\n* Cableado caído\n* Otro\n\nDetermina la prioridad:\n\n* Crítica\n* Moderada\n* Baja\n\nLa confianza debe ser un número entre 0 y 100.\n\nIMPORTANTE:\nResponde únicamente con JSON puro.\nNo utilices ```json.\nNo agregues explicaciones.\nNo agregues texto adicional.\n\nFormato exacto:\n\n{\n\"categoria\":\"\",\n\"prioridad\":\"\",\n\"confianza\":0\n}\n",
        "inputType": "binary",
        "binaryPropertyName": "foto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        576,
        304
      ],
      "id": "7779a5fe-787e-4204-a7f0-7fe929bb2294",
      "name": "Analyze an image",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "RBLIockA5Oqp1uez",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Incidente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{$json.ticketId}}",
            "Prioridad Asignada": "={{$json.prioridad}}",
            "Categoria IA\n": "={{$json.categoria}}",
            "Nivel de Confianza": "={{$json.confianza}}",
            "Correo": "=={{ $json.body.correo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datos Ciudadano",
              "displayName": "Datos Ciudadano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Coordenadas/Ubicacion",
              "displayName": "Coordenadas/Ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoria IA\n",
              "displayName": "Categoria IA\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad Asignada",
              "displayName": "Prioridad Asignada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de Confianza",
              "displayName": "Nivel de Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        304
      ],
      "id": "baa3e1ae-0634-4ad7-aa13-febe6cf9b8e2",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENNGYO4nFbeWQ9wU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6291520195",
        "text": "=🚨 *REPORTE DE DAÑO DETECTADO* 🚨\n\n🎫 *Ticket ID:* {{ $json[\"Ticket ID\"] }}\n🔥 *Prioridad:* {{ $json[\"Prioridad Asignada\"] }}\n📦 *Categoría:* {{ $('Edit Fields').item.json.categoria }}\n🎯 *Confianza de la IA:* {{ $json[\"Nivel de Confianza\"] }}%\n\n📅 _Revisar de inmediato en el sistema._",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        304
      ],
      "id": "c4896ab0-92e2-4d70-8608-48066fa36b09",
      "name": "Send a text message",
      "webhookId": "b74d59e0-9fc6-4791-aa67-f78def222272",
      "credentials": {
        "telegramApi": {
          "id": "CA5MtpawFxAdMEee",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        1520,
        304
      ],
      "id": "e4692857-f692-4de8-a79a-31a7fb494d66",
      "name": "Telegram Trigger",
      "webhookId": "16512170-940f-41e4-adfc-f72fed3e0cc2",
      "credentials": {
        "telegramApi": {
          "id": "CA5MtpawFxAdMEee",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Ticket no encontrado.  Ejemplo:  /ticket SCF-20260604135115",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        400
      ],
      "id": "9a703adf-281e-455e-aa84-10de4c72ebd7",
      "name": "Send a text message1",
      "webhookId": "06e5e46b-be15-4abb-9363-f0394e2b0f82",
      "credentials": {
        "telegramApi": {
          "id": "CA5MtpawFxAdMEee",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🎫 Ticket encontrado  ID: {{ $json[\"Ticket ID\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        192
      ],
      "id": "d4197bb5-6367-44c4-a811-1bdab1780f6f",
      "name": "Send a text message2",
      "webhookId": "996e9c01-d3bd-49b3-a9e1-1c6451e593a1",
      "credentials": {
        "telegramApi": {
          "id": "CA5MtpawFxAdMEee",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Incidente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket ID",
              "lookupValue": "={{ $json.message.text.replace(/^\\/ticket\\s*/i, '').split('@')[0].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        304
      ],
      "id": "20ca8678-fd21-4a56-90d1-3fda5e90928b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENNGYO4nFbeWQ9wU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c22477a-0d12-48df-8a20-9afb0c9f691c",
              "leftValue": "=={{ $json['Ticket ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        304
      ],
      "id": "547d1a29-ea39-4cac-8a7f-51fe5b8231dd",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "872197fe-19bb-4e3c-af29-0046fa5e33cf",
              "leftValue": "={{ $json.body.correo.includes(\"@\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "4f4f6353-8d0c-4476-af9b-76bdc387f392",
              "leftValue": "={{ $json.body.documento.trim() !== \"\" }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        384
      ],
      "id": "8fc47567-503b-46b7-b596-6021fb97a918",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"❌ El correo debe contener @\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        576
      ],
      "id": "d859767c-fdba-4deb-b4be-23cd78d5e8a8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e3b73c-1087-44fc-8b41-356c55fec21b",
              "name": "correo",
              "value": "={{ $json.body.correo.trim().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        384
      ],
      "id": "bca1b1b5-c0e1-426b-a8ec-1f7313e3cac0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f88c2779-d30e-4dc0-a558-99f5deaeba4d",
              "leftValue": "={{ ['jpg','jpeg','png'].includes($binary.foto.fileExtension.toLowerCase()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        384
      ],
      "id": "0476fdce-a469-4405-b8cc-856ae4e9de55",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"❌ Solo se permiten archivos JPG, JPEG o PNG\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        512
      ],
      "id": "07c3d1ea-75f4-4f5d-8110-7a544915ed06",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "157e01bb4a0cb21c01a154955d07ed2a513c90fad6bc024d468407f00e4b4a7e"
  }
}
