Proyecto-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1038921048,
          "mode": "list",
          "cachedResultName": "Datos_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI/edit#gid=1038921048"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Documento": "={{$json.body.documento}}",
            "Descripción": "={{$json.body.descripcion}}",
            "Teléfono": "={{$json.body.telefono}}",
            "Foto URL": "={{$json.body.foto}}",
            "Latitud": "={{$json.body.latitud}}",
            "Longitud": "={{$json.body.longitud}}",
            "Ticket ID": "={{$json.ticketId}}",
            "Nombre": "={{$json.body.nombre}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Foto URL",
              "displayName": "Foto URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        176
      ],
      "id": "1a034427-d52f-4a16-b9b0-9ce1b124f76f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S3EfWKemFtSalJol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartcity-report",
        "options": {
          "responseCode": {
            "values": {}
          },
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        304
      ],
      "id": "733e6afb-7eb0-4b4e-b0f6-42aaf6756c78",
      "name": "Webhook",
      "webhookId": "eb7e2dd6-1baa-4acc-839d-c99a8f406a31"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84f9e5f6-d205-450e-97f5-e3fbfd3d1d8b",
              "name": "ticketId",
              "value": "=SCF-{{$now.toFormat('yyyyMMddHHmmss')}}",
              "type": "string"
            },
            {
              "id": "8d4ca170-d996-4573-8eac-cc7d1243f75c",
              "name": "categoria",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).categoria }}",
              "type": "string"
            },
            {
              "id": "ca61c53e-6bc3-48f1-964e-e71448a97c1e",
              "name": "prioridad",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).prioridad }}",
              "type": "string"
            },
            {
              "id": "e75d0a51-a6e4-4335-af1b-6584a7023396",
              "name": "confianza",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).confianza }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        288
      ],
      "id": "15102aae-1c3d-4e72-adf3-828c43cd88f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analiza la imagen de infraestructura urbana.\n\nClasifica el incidente como:\n\n* Bache\n* Fuga de agua\n* Semáforo averiado\n* Luminaria dañada\n* Cableado caído\n* Otro\n\nDetermina la prioridad:\n\n* Crítica\n* Moderada\n* Baja\n\nLa confianza debe ser un número entre 0 y 100.\n\nIMPORTANTE:\nResponde únicamente con JSON puro.\nNo utilices ```json.\nNo agregues explicaciones.\nNo agregues texto adicional.\n\nFormato exacto:\n\n{\n\"categoria\":\"\",\n\"prioridad\":\"\",\n\"confianza\":0\n}\n",
        "inputType": "binary",
        "binaryPropertyName": "foto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -464,
        368
      ],
      "id": "14ffa1ce-efa9-418a-ba3f-fa685a93965e",
      "name": "Analyze an image",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "3HqdtC7IanDPNEk5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Incidente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{$json.ticketId}}",
            "Prioridad Asignada": "={{$json.prioridad}}",
            "Categoria IA\n": "={{$json.categoria}}",
            "Nivel de Confianza": "={{$json.confianza}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datos Ciudadano",
              "displayName": "Datos Ciudadano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Coordenadas/Ubicacion",
              "displayName": "Coordenadas/Ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoria IA\n",
              "displayName": "Categoria IA\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad Asignada",
              "displayName": "Prioridad Asignada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de Confianza",
              "displayName": "Nivel de Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        288
      ],
      "id": "14e533c5-162d-4381-a6fa-aa73d5ed1085",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S3EfWKemFtSalJol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6291520195",
        "text": "=🚨 *REPORTE DE DAÑO DETECTADO* 🚨\n\n🎫 *Ticket ID:* {{ $json[\"Ticket ID\"] }}\n🔥 *Prioridad:* {{ $json[\"Prioridad Asignada\"] }}\n📦 *Categoría:* {{ $('Edit Fields').item.json.categoria }}\n🎯 *Confianza de la IA:* {{ $json[\"Nivel de Confianza\"] }}%\n\n📅 _Revisar de inmediato en el sistema._",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        288
      ],
      "id": "fc2ceedb-031c-4c2d-9ef5-7e44a7b27541",
      "name": "Send a text message",
      "webhookId": "b74d59e0-9fc6-4791-aa67-f78def222272",
      "credentials": {
        "telegramApi": {
          "id": "7xoeTzaZpAf928CP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        576,
        288
      ],
      "id": "352952f4-e54b-465d-9e50-58302f5f15ab",
      "name": "Telegram Trigger",
      "webhookId": "16512170-940f-41e4-adfc-f72fed3e0cc2",
      "credentials": {
        "telegramApi": {
          "id": "7xoeTzaZpAf928CP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Ticket no encontrado.  Ejemplo:  /ticket SCF-20260604135115",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        384
      ],
      "id": "3ce29e5c-70a0-4a20-abbc-e2fbf1c1adb3",
      "name": "Send a text message1",
      "webhookId": "06e5e46b-be15-4abb-9363-f0394e2b0f82",
      "credentials": {
        "telegramApi": {
          "id": "7xoeTzaZpAf928CP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🎫 Ticket encontrado  ID: {{ $json[\"Ticket ID\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        192
      ],
      "id": "d3a4c25a-fa3d-45d6-8e66-495198dd4a3c",
      "name": "Send a text message2",
      "webhookId": "996e9c01-d3bd-49b3-a9e1-1c6451e593a1",
      "credentials": {
        "telegramApi": {
          "id": "7xoeTzaZpAf928CP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Incidente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aYeJuOWUqDTdJzVd41VEgBk3BLKF3QodX9I7suzULmI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket ID",
              "lookupValue": "={{ $json.message.text.replace(/^\\/ticket\\s*/i, '').split('@')[0].trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        288
      ],
      "id": "81c3ba8d-1c87-4821-b133-aeafd8f93ecf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S3EfWKemFtSalJol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c22477a-0d12-48df-8a20-9afb0c9f691c",
              "leftValue": "=={{ $json['Ticket ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        288
      ],
      "id": "4003d6c7-c4b9-4df6-b751-d2c64c234a15",
      "name": "If"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e9c2abcae97bca0ad5a4a8dd8b16f2e2eb00ba23d7fe8717418bec1f9419417"
  }
}
